.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card-text {
  padding: 15px;
}

h3 {
  font-size: 18px !important;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

h3 i {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
}

p b {
  font-weight: 700;
  color: #c82333;
}

.uk-card {
  border-radius: 5px;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
